<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <fieldTypes>
      <fieldType name="Checklist" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
      <fieldType name="Multilist" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
      <fieldType name="Multilist with Search" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
      <fieldType name="Treelist" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
      <fieldType name="Treelist with Search" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
      <fieldType name="TreelistEx" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
      <fieldType name="tree list" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
      <fieldType name="Accounts Multilist" patch:i="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']" type="Sitecore.Support.Data.Fields.MultilistField,Sitecore.Support.508731"/>
    </fieldTypes>
    <settings>
      <!-- Pipe separated list of fields excluded from Link validation.
      
      Only Multilist field type is supported      
      
      Default value: {84E7DF9E-A319-417B-A15D-84B40EA2D8E4} - the BulkOperationsId field
      -->
      <setting name="Sitecore.Support.LinkValidation.ExcludedFields" value="{84E7DF9E-A319-417B-A15D-84B40EA2D8E4}"/>
    </settings>
  </sitecore>
</configuration>